<!-- web.config -->
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
